*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


#main {
    background-color: #a7cfdd;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center {
    background-color: rgb(237, 241, 240);
    width: 20%;
    height: 60%;
    border-radius: 20px;
    position: relative;
}

#pic {
    width: 90%;
    height: 60%;
    border-radius: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

/*#qr_code {
    background-color:aqua;
    width: 500px;
    height: 500px;
}